{
  "openapi": "3.0.0",
  "info": {
    "title": "AI BOSS API - Development",
    "version": "1.0.0",
    "description": "AI BOSS API - RESTful API for customer, order, product, and payment management",
    "contact": {
      "name": "API Support",
      "email": "support@rockstar-automations.com"
    },
    "license": {
      "name": "Copyright",
      "url": "https://rockstar-automations.com"
    }
  },
  "servers": [
    {
      "url": "https://boss-api.rockstar-automations.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {}
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "description": "Error model schema (auto-generated from TypeScript interface)"
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "unhealthy"
            ]
          },
          "timestamp": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "downstream": {
            "$ref": "#/components/schemas/DownstreamHealthStatus"
          },
          "summary": {
            "$ref": "#/components/schemas/HealthCheckSummary"
          }
        },
        "required": [
          "status",
          "timestamp",
          "service",
          "downstream",
          "summary"
        ],
        "additionalProperties": false,
        "description": "HealthResponse model schema (auto-generated from TypeScript interface)"
      },
      "ServiceHealthStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "unhealthy"
            ]
          },
          "responseTime": {
            "type": "number"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false,
        "description": "ServiceHealthStatus model schema (auto-generated from TypeScript interface)"
      },
      "DownstreamHealthStatus": {
        "type": "object",
        "properties": {
          "customerApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "billingApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "searchApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "usageApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "productOrderApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "partyApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "productInventoryApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "productOfferingApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "paymentApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "resourceApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "paymentMethodApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          },
          "shoppingCartApi": {
            "$ref": "#/components/schemas/ServiceHealthStatus"
          }
        },
        "required": [
          "customerApi",
          "billingApi",
          "searchApi",
          "usageApi",
          "productOrderApi",
          "partyApi",
          "productInventoryApi",
          "productOfferingApi",
          "paymentApi",
          "resourceApi",
          "paymentMethodApi",
          "shoppingCartApi"
        ],
        "additionalProperties": false,
        "description": "DownstreamHealthStatus model schema (auto-generated from TypeScript interface)"
      },
      "HealthCheckSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "healthy": {
            "type": "number"
          },
          "unhealthy": {
            "type": "number"
          }
        },
        "required": [
          "total",
          "healthy",
          "unhealthy"
        ],
        "additionalProperties": false,
        "description": "HealthCheckSummary model schema (auto-generated from TypeScript interface)"
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "formattedName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phoneNumber": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "status": {
            "type": "string"
          },
          "createdOn": {
            "type": "string"
          },
          "engagedParty": {
            "$ref": "#/components/schemas/EngagedParty"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "billingAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingAccount"
            }
          }
        },
        "required": [
          "id",
          "familyName",
          "givenName",
          "gender",
          "birthDate",
          "formattedName",
          "name",
          "email",
          "phoneNumber",
          "status",
          "createdOn",
          "engagedParty",
          "products",
          "billingAccounts"
        ],
        "additionalProperties": false,
        "description": "Customer model schema (auto-generated from TypeScript interface)"
      },
      "CustomerSearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerSummary"
            }
          }
        },
        "required": [
          "total",
          "offset",
          "limit",
          "customers"
        ],
        "additionalProperties": false,
        "description": "CustomerSearchResponse model schema (auto-generated from TypeScript interface)"
      },
      "CustomerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phoneNumber": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "orderIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "name",
          "email"
        ],
        "additionalProperties": false,
        "description": "CustomerSummary model schema (auto-generated from TypeScript interface)"
      },
      "BillingAccount": {
        "type": "object",
        "properties": {
          "ratingType": {
            "$ref": "#/components/schemas/RatingType"
          },
          "accountBalance": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "paymentStatus": {
            "type": "string"
          },
          "defaultPaymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodRef"
          },
          "contact": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "billStructure": {
            "$ref": "#/components/schemas/BillStructure"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "description": "BillingAccount model schema (auto-generated from TypeScript interface)"
      },
      "Address": {
        "type": "object",
        "properties": {
          "streetNumber": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "formattedAddress": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Address model schema (auto-generated from TypeScript interface)"
      },
      "EngagedParty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "referredType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "referredType",
          "name"
        ],
        "additionalProperties": false,
        "description": "EngagedParty model schema (auto-generated from TypeScript interface)"
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "formattedName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "familyName",
          "givenName"
        ],
        "additionalProperties": false,
        "description": "Party model schema (auto-generated from TypeScript interface)"
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "isBundle": {
            "type": "boolean"
          },
          "realizingResource": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RealizingResource"
            }
          },
          "productCharacteristic": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductCharacteristic"
            }
          },
          "productPrice": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartPrice"
            }
          },
          "product": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "productRelationship": {
            "type": "array",
            "items": {}
          }
        },
        "additionalProperties": false,
        "description": "Product model schema (auto-generated from TypeScript interface)"
      },
      "ProductOffering": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "description": "ProductOffering model schema (auto-generated from TypeScript interface)"
      },
      "ProductCatalogOffering": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "offerType": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/ProductCategory"
          },
          "isSellable": {
            "type": "boolean"
          },
          "isBundle": {
            "type": "boolean"
          },
          "isCustomerVisible": {
            "type": "boolean"
          },
          "status": {
            "$ref": "#/components/schemas/ProductStatus"
          },
          "productOfferingSpec": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductSpec"
            }
          },
          "productOfferingPrice": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductPrice"
            }
          },
          "productOfferingRelationship": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductOfferingRelationship"
            }
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "description": "ProductCatalogOffering model schema (auto-generated from TypeScript interface)"
      },
      "ProductOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "orderDate": {
            "type": "string",
            "format": "date"
          },
          "completionDate": {
            "type": "string",
            "format": "date"
          },
          "productOrderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductOrderItem"
            }
          },
          "customerId": {
            "type": "string"
          },
          "billingAccountId": {
            "type": "string"
          },
          "orderTotalPrice": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderPrice"
            }
          }
        },
        "required": [
          "id",
          "state",
          "productOrderItems",
          "customerId",
          "billingAccountId",
          "orderTotalPrice"
        ],
        "additionalProperties": false,
        "description": "ProductOrder model schema (auto-generated from TypeScript interface)"
      },
      "ProductOrderItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "add",
              "modify",
              "delete"
            ]
          },
          "quantity": {
            "type": "number"
          },
          "product": {
            "$ref": "#/components/schemas/ProductRef"
          },
          "productOffering": {
            "$ref": "#/components/schemas/ProductOffering"
          },
          "itemTotalPrice": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderPrice"
            }
          },
          "state": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "action",
          "quantity",
          "product"
        ],
        "additionalProperties": false,
        "description": "ProductOrderItem model schema (auto-generated from TypeScript interface)"
      },
      "ProductRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "description": "ProductRef model schema (auto-generated from TypeScript interface)"
      },
      "OrderPrice": {
        "type": "object",
        "properties": {
          "price": {
            "type": "object",
            "properties": {
              "dutyFreeAmount": {
                "$ref": "#/components/schemas/Money"
              },
              "taxIncludedAmount": {
                "$ref": "#/components/schemas/Money"
              }
            },
            "required": [
              "dutyFreeAmount",
              "taxIncludedAmount"
            ],
            "additionalProperties": false
          },
          "priceType": {
            "type": "string"
          },
          "recurringChargePeriod": {
            "type": "string"
          },
          "recurringChargePeriodLength": {
            "type": "number"
          }
        },
        "required": [
          "price"
        ],
        "additionalProperties": false,
        "description": "OrderPrice model schema (auto-generated from TypeScript interface)"
      },
      "OrderCancellationRequest": {
        "type": "object",
        "properties": {
          "cancellationReason": {
            "type": "string"
          },
          "requestedCancellationDate": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "cancellationReason"
        ],
        "additionalProperties": false,
        "description": "OrderCancellationRequest model schema (auto-generated from TypeScript interface)"
      },
      "OrderCancellationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "cancellationReason": {
            "type": "string"
          },
          "requestedCancellationDate": {
            "type": "string",
            "format": "date"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "orderId",
          "state",
          "cancellationReason",
          "message"
        ],
        "additionalProperties": false,
        "description": "OrderCancellationResponse model schema (auto-generated from TypeScript interface)"
      },
      "ExecutionError": {
        "type": "object",
        "properties": {
          "cause": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "failedStateName": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "ExecutionError model schema (auto-generated from TypeScript interface)"
      },
      "OrderExecutionItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "productOffering": {
            "$ref": "#/components/schemas/ProductOffering"
          },
          "executionError": {
            "$ref": "#/components/schemas/ExecutionError"
          },
          "decision": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "state"
        ],
        "additionalProperties": false,
        "description": "OrderExecutionItem model schema (auto-generated from TypeScript interface)"
      },
      "OrderExecutionResponse": {
        "type": "object",
        "properties": {},
        "description": "Schema for OrderExecutionResponse (auto-generated fallback)"
      },
      "PortStatusResponse": {
        "type": "object",
        "properties": {
          "portCreationDate": {
            "type": "string",
            "format": "date"
          },
          "portPath": {
            "type": "string"
          },
          "initiatorId": {
            "type": "string"
          },
          "totalNumberOfSubscriberNumbers": {
            "type": "number"
          },
          "portDirection": {
            "type": "string"
          },
          "desiredDueDate": {
            "type": "string",
            "format": "date"
          },
          "immediateAct": {
            "type": "string"
          },
          "portabilitySubject": {
            "type": "object",
            "properties": {
              "billingLastName": {
                "type": "string"
              },
              "authorizationName": {
                "type": "string"
              },
              "billingFirstName": {
                "type": "string"
              },
              "ospBillingAccountPassword": {
                "type": "string"
              },
              "ospBillingAccountNumber": {
                "type": "string"
              },
              "serviceAddress": {
                "type": "object",
                "properties": {
                  "postcode": {
                    "type": "string"
                  },
                  "stateOrProvince": {
                    "type": "string"
                  },
                  "streetName": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "streetNr": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  }
                },
                "required": [
                  "postcode",
                  "stateOrProvince",
                  "streetName",
                  "country",
                  "streetNr",
                  "city"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "billingLastName",
              "authorizationName",
              "billingFirstName",
              "ospBillingAccountPassword",
              "ospBillingAccountNumber",
              "serviceAddress"
            ],
            "additionalProperties": false
          },
          "commission": {
            "type": "object",
            "properties": {
              "dealerCode": {
                "type": "string"
              }
            },
            "required": [
              "dealerCode"
            ],
            "additionalProperties": false
          },
          "portRequestStatus": {
            "type": "string"
          },
          "serviceProviderInfo": {
            "type": "object",
            "properties": {
              "localId": {
                "type": "string"
              },
              "networkId": {
                "type": "string"
              }
            },
            "required": [
              "localId",
              "networkId"
            ],
            "additionalProperties": false
          },
          "orderItem": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "portRequestLineId": {
                  "type": "number"
                },
                "portRequestLineStatus": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "fromLine": {
                      "type": "string"
                    },
                    "serviceArea": {
                      "type": "string"
                    },
                    "npaNxx": {
                      "type": "string"
                    },
                    "statusReasonCode": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "href": {
                      "type": "string"
                    },
                    "equipmentType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "fromLine",
                    "serviceArea",
                    "npaNxx",
                    "statusReasonCode",
                    "id",
                    "href",
                    "equipmentType"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "portRequestLineId",
                "portRequestLineStatus",
                "id",
                "resource"
              ],
              "additionalProperties": false
            }
          },
          "serviceProvider": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "@referredType": {
                  "type": "string"
                }
              },
              "required": [
                "@referredType"
              ],
              "additionalProperties": false
            }
          },
          "@type": {
            "type": "string"
          },
          "authorizationDate": {
            "type": "string",
            "format": "date"
          },
          "priority": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "portCreationDate",
          "portPath",
          "initiatorId",
          "totalNumberOfSubscriberNumbers",
          "portDirection",
          "desiredDueDate",
          "immediateAct",
          "portabilitySubject",
          "commission",
          "portRequestStatus",
          "serviceProviderInfo",
          "orderItem",
          "serviceProvider",
          "@type",
          "authorizationDate",
          "priority",
          "code",
          "description"
        ],
        "additionalProperties": false,
        "description": "PortStatusResponse model schema (auto-generated from TypeScript interface)"
      },
      "DecisionUpdateRequest": {
        "type": "object",
        "properties": {
          "choice": {
            "type": "string"
          }
        },
        "required": [
          "choice"
        ],
        "additionalProperties": false,
        "description": "DecisionUpdateRequest model schema (auto-generated from TypeScript interface)"
      },
      "DecisionUpdateResponse": {
        "type": "object",
        "properties": {
          "decisionId": {
            "type": "string"
          },
          "choice": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "decisionId",
          "choice"
        ],
        "additionalProperties": false,
        "description": "DecisionUpdateResponse model schema (auto-generated from TypeScript interface)"
      },
      "DecisionDetail": {
        "type": "object",
        "properties": {
          "decisionId": {
            "type": "string"
          },
          "productOrderId": {
            "type": "string"
          },
          "completionBy": {
            "type": "string"
          },
          "taskName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "completionDate": {
            "type": "string",
            "format": "date"
          },
          "decision": {
            "type": "string"
          }
        },
        "required": [
          "decisionId",
          "productOrderId",
          "taskName",
          "status"
        ],
        "additionalProperties": false,
        "description": "DecisionDetail model schema (auto-generated from TypeScript interface)"
      },
      "PaymentIntentResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "channelId": {
            "type": "string"
          },
          "redirects": {
            "$ref": "#/components/schemas/PaymentIntentRedirects"
          },
          "createDate": {
            "type": "string",
            "format": "date"
          },
          "updateDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "paymentProcessorId": {
            "type": "string"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            }
          },
          "currency": {
            "type": "string"
          },
          "individual": {
            "$ref": "#/components/schemas/Individual"
          },
          "billingAccount": {
            "$ref": "#/components/schemas/BillingAccount"
          },
          "processorCharacteristics": {
            "$ref": "#/components/schemas/ProcessorCharacteristics"
          },
          "isDynamicCallbackUrl": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "id": {
            "type": "string"
          },
          "paymentMethodId": {
            "type": "string"
          }
        },
        "required": [
          "orderId",
          "channelId",
          "redirects",
          "createDate",
          "updateDate",
          "status",
          "paymentProcessorId",
          "prices",
          "currency",
          "individual",
          "billingAccount",
          "processorCharacteristics",
          "isDynamicCallbackUrl",
          "url",
          "id"
        ],
        "additionalProperties": false,
        "description": "PaymentIntentResponse model schema (auto-generated from TypeScript interface)"
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          },
          "paymentGatewayId": {
            "type": "string"
          },
          "relatedParty": {
            "$ref": "#/components/schemas/PaymentMethodRelatedParty"
          },
          "account": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodAccount"
            }
          }
        },
        "required": [
          "id",
          "name",
          "@type",
          "paymentGatewayId",
          "relatedParty",
          "account"
        ],
        "description": "PaymentMethod model schema (auto-generated from TypeScript interface)"
      },
      "PaymentMethodUpdateRequest": {
        "type": "object",
        "properties": {
          "isPreferred": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusReason": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "PaymentMethodUpdateRequest model schema (auto-generated from TypeScript interface)"
      },
      "AmdocsPaymentMethodUpdateRequest": {
        "type": "object",
        "properties": {
          "isPreferred": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusReason": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "AmdocsPaymentMethodUpdateRequest model schema (auto-generated from TypeScript interface)"
      },
      "SetupIntentRequest": {
        "type": "object",
        "properties": {
          "payer": {
            "$ref": "#/components/schemas/SetupIntentPayer"
          },
          "paymentIntegrationId": {
            "type": "string"
          },
          "redirects": {
            "$ref": "#/components/schemas/SetupIntentRedirects"
          }
        },
        "required": [
          "payer",
          "paymentIntegrationId",
          "redirects"
        ],
        "additionalProperties": false,
        "description": "SetupIntentRequest model schema (auto-generated from TypeScript interface)"
      },
      "AmdocsSetupIntentRequest": {
        "type": "object",
        "properties": {
          "payer": {
            "$ref": "#/components/schemas/SetupIntentPayer"
          },
          "paymentIntegrationId": {
            "type": "string"
          },
          "redirects": {
            "$ref": "#/components/schemas/SetupIntentRedirects"
          }
        },
        "required": [
          "payer",
          "paymentIntegrationId",
          "redirects"
        ],
        "additionalProperties": false,
        "description": "AmdocsSetupIntentRequest model schema (auto-generated from TypeScript interface)"
      },
      "SetupIntentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "setupIntentLink": {
            "type": "string"
          }
        },
        "description": "SetupIntentResponse model schema (auto-generated from TypeScript interface)"
      },
      "SetupIntentPayer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "@referredType": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "@referredType"
        ],
        "additionalProperties": false,
        "description": "SetupIntentPayer model schema (auto-generated from TypeScript interface)"
      },
      "SetupIntentRedirects": {
        "type": "object",
        "properties": {
          "success": {
            "type": "string"
          },
          "cancel": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "cancel"
        ],
        "additionalProperties": false,
        "description": "SetupIntentRedirects model schema (auto-generated from TypeScript interface)"
      },
      "NextPaymentDetailsRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          }
        },
        "required": [
          "accountId"
        ],
        "additionalProperties": false,
        "description": "NextPaymentDetailsRequest model schema (auto-generated from TypeScript interface)"
      },
      "NextPaymentDetailsResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "nextPaymentDate": {
            "type": "string",
            "format": "date"
          },
          "nextPaymentAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "lastFourDigits": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "type"
            ],
            "additionalProperties": false
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "accountId"
        ],
        "additionalProperties": false,
        "description": "NextPaymentDetailsResponse model schema (auto-generated from TypeScript interface)"
      },
      "AmdocsNextPaymentDetailsResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "nextPaymentDate": {
            "type": "string",
            "format": "date"
          },
          "nextPaymentAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "lastFourDigits": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "type"
            ],
            "additionalProperties": false
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "accountId"
        ],
        "additionalProperties": false,
        "description": "AmdocsNextPaymentDetailsResponse model schema (auto-generated from TypeScript interface)"
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "paymentDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "statusDate": {
            "type": "string",
            "format": "date"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodRef"
          },
          "authorizationCode": {
            "type": "string"
          },
          "payer": {},
          "account": {},
          "paymentItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          }
        },
        "required": [
          "id",
          "name",
          "totalAmount",
          "paymentMethod"
        ],
        "description": "Payment model schema (auto-generated from TypeScript interface)"
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ],
        "additionalProperties": false,
        "description": "PaymentItem model schema (auto-generated from TypeScript interface)"
      },
      "PaymentMethodRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "additionalProperties": false,
        "description": "PaymentMethodRef model schema (auto-generated from TypeScript interface)"
      },
      "RefundIntentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "description": "RefundIntentResponse model schema (auto-generated from TypeScript interface)"
      },
      "RefundIntentCreate": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountRef"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "correlatorId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentRef"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodRefOrValue"
          },
          "requestor": {
            "$ref": "#/components/schemas/RelatedParty"
          },
          "taxAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "account",
          "description",
          "paymentMethod",
          "totalAmount"
        ],
        "additionalProperties": false,
        "description": "RefundIntentCreate model schema (auto-generated from TypeScript interface)"
      },
      "ResendReceiptRequest": {
        "type": "object",
        "properties": {
          "paymentIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "paymentIds"
        ],
        "additionalProperties": false,
        "description": "ResendReceiptRequest model schema (auto-generated from TypeScript interface)"
      },
      "ResendReceiptResponse": {
        "type": "object",
        "properties": {
          "individualId": {
            "type": "string"
          },
          "processedReceipts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessedReceipt"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/ReceiptSummary"
          }
        },
        "required": [
          "individualId",
          "processedReceipts",
          "summary"
        ],
        "additionalProperties": false,
        "description": "ResendReceiptResponse model schema (auto-generated from TypeScript interface)"
      },
      "ProcessedReceipt": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed",
              "not_found"
            ]
          },
          "receiptUrl": {
            "type": "string",
            "format": "uri"
          },
          "errorMessage": {
            "type": "string"
          },
          "sentAt": {
            "type": "string"
          },
          "hasAttachment": {
            "type": "boolean"
          },
          "attachmentFilename": {
            "type": "string"
          },
          "attachmentSize": {
            "type": "number"
          }
        },
        "required": [
          "paymentId",
          "status"
        ],
        "additionalProperties": false,
        "description": "ProcessedReceipt model schema (auto-generated from TypeScript interface)"
      },
      "ReceiptSummary": {
        "type": "object",
        "properties": {
          "totalRequested": {
            "type": "number"
          },
          "successful": {
            "type": "number"
          },
          "failed": {
            "type": "number"
          },
          "notFound": {
            "type": "number"
          }
        },
        "required": [
          "totalRequested",
          "successful",
          "failed",
          "notFound"
        ],
        "additionalProperties": false,
        "description": "ReceiptSummary model schema (auto-generated from TypeScript interface)"
      },
      "CartItemRelationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "relationshipType": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "relationshipType"
        ],
        "additionalProperties": false,
        "description": "CartItemRelationship model schema (auto-generated from TypeScript interface)"
      },
      "CartPrice": {
        "type": "object",
        "properties": {
          "priceType": {
            "type": "string"
          },
          "recurringChargePeriod": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "priceType",
          "recurringChargePeriod",
          "price"
        ],
        "additionalProperties": false,
        "description": "CartPrice model schema (auto-generated from TypeScript interface)"
      },
      "CartPriceTotal": {
        "type": "object",
        "properties": {
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "priceType": {
            "type": "string"
          },
          "recurringChargePeriod": {
            "type": "string"
          },
          "recurringChargePeriodLength": {
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "price"
        ],
        "additionalProperties": false,
        "description": "CartPriceTotal model schema (auto-generated from TypeScript interface)"
      },
      "CartItem": {
        "type": "object",
        "properties": {},
        "description": "Schema for CartItem (auto-generated fallback)"
      },
      "RelatedParty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "role"
        ],
        "additionalProperties": false,
        "description": "RelatedParty model schema (auto-generated from TypeScript interface)"
      },
      "ShoppingCart": {
        "type": "object",
        "properties": {},
        "description": "Schema for ShoppingCart (auto-generated fallback)"
      },
      "ShoppingCart_Update": {
        "type": "object",
        "properties": {},
        "description": "Schema for ShoppingCart_Update (auto-generated fallback)"
      },
      "Money": {
        "type": "object",
        "properties": {
          "unit": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        },
        "required": [
          "unit",
          "value"
        ],
        "additionalProperties": false,
        "description": "Money model schema (auto-generated from TypeScript interface)"
      },
      "TimePeriod": {
        "type": "object",
        "properties": {
          "endDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "endDateTime",
          "startDateTime"
        ],
        "additionalProperties": false,
        "description": "TimePeriod model schema (auto-generated from TypeScript interface)"
      },
      "Price": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceItem"
            }
          }
        },
        "required": [
          "type",
          "items"
        ],
        "additionalProperties": false,
        "description": "Price model schema (auto-generated from TypeScript interface)"
      },
      "RealizingResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          },
          "@baseType": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "@type",
          "@baseType",
          "value"
        ],
        "additionalProperties": false,
        "description": "RealizingResource model schema (auto-generated from TypeScript interface)"
      },
      "ShoppingCart_Create": {
        "type": "object",
        "properties": {},
        "description": "Schema for ShoppingCart_Create (auto-generated fallback)"
      },
      "ProductCharacteristic": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {},
          "valueType": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ],
        "additionalProperties": false,
        "description": "ProductCharacteristic model schema (auto-generated from TypeScript interface)"
      },
      "Resource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "resourceStatus": {
            "type": "string"
          },
          "resourceCharacteristic": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceCharacteristic"
            }
          },
          "resourceRelationship": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceRelationship"
            }
          },
          "value": {
            "type": "string"
          },
          "lastModifiedStatusDate": {
            "type": "string",
            "format": "date"
          },
          "customerId": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "category",
          "name",
          "resourceStatus"
        ],
        "additionalProperties": false,
        "description": "Resource model schema (auto-generated from TypeScript interface)"
      },
      "Usage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "usageDate": {
            "type": "string",
            "format": "date"
          },
          "usageType": {
            "type": "string"
          },
          "usageSpecification": {
            "$ref": "#/components/schemas/UsageSpecification"
          },
          "ratedProductUsage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RatedProductUsage"
            }
          },
          "relatedParty": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedParty"
            }
          },
          "usageCharacteristic": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageCharacteristic"
            }
          }
        },
        "required": [
          "id",
          "usageDate"
        ],
        "description": "Usage model schema (auto-generated from TypeScript interface)"
      },
      "Bucket": {
        "type": "object",
        "properties": {
          "confirmationDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "isShared": {
            "type": "boolean"
          },
          "logicalResource": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogicalResource"
            }
          },
          "name": {
            "type": "string"
          },
          "partyAccount": {
            "$ref": "#/components/schemas/PartyAccount"
          },
          "product": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductRef"
            }
          },
          "relatedParty": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedParty"
            }
          },
          "remainingValue": {
            "$ref": "#/components/schemas/Quantity"
          },
          "remainingValueName": {
            "type": "string"
          },
          "requestedDate": {
            "type": "string",
            "format": "date"
          },
          "reservedValue": {
            "$ref": "#/components/schemas/Quantity"
          },
          "status": {
            "type": "string"
          },
          "usageType": {
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "rolloverType": {
            "type": "string"
          }
        },
        "required": [
          "confirmationDate",
          "description",
          "id",
          "isShared",
          "logicalResource",
          "name",
          "partyAccount",
          "product",
          "relatedParty",
          "remainingValue",
          "remainingValueName",
          "requestedDate",
          "reservedValue",
          "status",
          "usageType",
          "validFor",
          "rolloverType"
        ],
        "additionalProperties": false,
        "description": "Bucket model schema (auto-generated from TypeScript interface)"
      },
      "ESimProfileStatusResponse": {
        "type": "object",
        "properties": {
          "iccidValue": {
            "type": "string"
          },
          "qrImage": {
            "type": "string"
          },
          "activationCode": {
            "type": "string"
          },
          "progressBarPercentage": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "smdpStatus": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "ESimProfileStatusResponse model schema (auto-generated from TypeScript interface)"
      },
      "ServiceQualificationResponse": {
        "type": "object",
        "properties": {
          "zip_code": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "technologies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WirelessTechnology"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "zip_code",
          "latitude",
          "longitude",
          "technologies"
        ],
        "additionalProperties": false,
        "description": "ServiceQualificationResponse model schema (auto-generated from TypeScript interface)"
      },
      "WirelessTechnology": {
        "type": "object",
        "properties": {
          "technology": {
            "type": "string"
          }
        },
        "required": [
          "technology"
        ],
        "additionalProperties": false,
        "description": "WirelessTechnology model schema (auto-generated from TypeScript interface)"
      },
      "ServiceQualificationRequest": {
        "type": "object",
        "properties": {
          "serviceQualificationItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceQualificationItem"
            }
          }
        },
        "required": [
          "serviceQualificationItem"
        ],
        "additionalProperties": false,
        "description": "ServiceQualificationRequest model schema (auto-generated from TypeScript interface)"
      },
      "ServiceQualificationItem": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          },
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "state": {
            "type": "string"
          },
          "qualificationResult": {
            "type": "string"
          }
        },
        "required": [
          "@type",
          "service"
        ],
        "additionalProperties": false,
        "description": "ServiceQualificationItem model schema (auto-generated from TypeScript interface)"
      },
      "Service": {
        "type": "object",
        "properties": {
          "supportingResource": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportingResource"
            }
          },
          "serviceSpecification": {
            "$ref": "#/components/schemas/ServiceSpecification"
          },
          "@type": {
            "type": "string"
          }
        },
        "required": [
          "supportingResource",
          "serviceSpecification",
          "@type"
        ],
        "additionalProperties": false,
        "description": "Service model schema (auto-generated from TypeScript interface)"
      },
      "SupportingResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ],
        "additionalProperties": false,
        "description": "SupportingResource model schema (auto-generated from TypeScript interface)"
      },
      "ServiceSpecification": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "@type"
        ],
        "additionalProperties": false,
        "description": "ServiceSpecification model schema (auto-generated from TypeScript interface)"
      },
      "ServiceQualificationAmdocsResponse": {
        "type": "object",
        "properties": {},
        "description": "Schema for ServiceQualificationAmdocsResponse (auto-generated fallback)"
      },
      "IMEIServiceQualificationRequest": {
        "type": "object",
        "properties": {
          "imei": {
            "type": "string"
          }
        },
        "required": [
          "imei"
        ],
        "additionalProperties": false,
        "description": "IMEIServiceQualificationRequest model schema (auto-generated from TypeScript interface)"
      },
      "IMEIServiceQualificationResponse": {
        "type": "object",
        "properties": {},
        "description": "Schema for IMEIServiceQualificationResponse (auto-generated fallback)"
      },
      "DefaultPaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "name"
        ],
        "additionalProperties": false,
        "description": "DefaultPaymentMethod model schema (auto-generated from TypeScript interface)"
      },
      "SuspensionReason": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "code",
          "title",
          "isActive"
        ],
        "additionalProperties": false,
        "description": "SuspensionReason model schema (auto-generated from TypeScript interface)"
      },
      "SuspendRequest": {
        "type": "object",
        "properties": {
          "suspensionReason": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reason": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "suspensionReason",
          "reason"
        ],
        "additionalProperties": false,
        "description": "SuspendRequest model schema (auto-generated from TypeScript interface)"
      },
      "SuspendResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "orderId": {
            "type": "string"
          },
          "suspendedProducts": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "suspendedAt": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SuspendedProduct"
            }
          }
        },
        "required": [
          "success",
          "orderId",
          "suspendedProducts",
          "message",
          "suspendedAt",
          "effectiveDate",
          "products"
        ],
        "additionalProperties": false,
        "description": "SuspendResponse model schema (auto-generated from TypeScript interface)"
      },
      "SuspendedProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "previousStatus": {
            "type": "string"
          },
          "newStatus": {
            "type": "string"
          },
          "realizingResource": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "value"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "name",
          "previousStatus",
          "newStatus"
        ],
        "additionalProperties": false,
        "description": "SuspendedProduct model schema (auto-generated from TypeScript interface)"
      },
      "ResumeReason": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "code",
          "title",
          "isActive"
        ],
        "additionalProperties": false,
        "description": "ResumeReason model schema (auto-generated from TypeScript interface)"
      },
      "ResumeRequest": {
        "type": "object",
        "properties": {
          "resumeReason": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reason": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "resumeReason",
          "reason"
        ],
        "additionalProperties": false,
        "description": "ResumeRequest model schema (auto-generated from TypeScript interface)"
      },
      "ResumeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "orderId": {
            "type": "string"
          },
          "resumedProducts": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "resumedAt": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResumedProduct"
            }
          }
        },
        "required": [
          "success",
          "orderId",
          "resumedProducts",
          "message",
          "resumedAt",
          "effectiveDate",
          "products"
        ],
        "additionalProperties": false,
        "description": "ResumeResponse model schema (auto-generated from TypeScript interface)"
      },
      "ResumedProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "previousStatus": {
            "type": "string"
          },
          "newStatus": {
            "type": "string"
          },
          "realizingResource": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "value"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "name",
          "previousStatus",
          "newStatus"
        ],
        "additionalProperties": false,
        "description": "ResumedProduct model schema (auto-generated from TypeScript interface)"
      },
      "IndividualUpdateRequest": {
        "type": "object",
        "properties": {
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "formattedName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phoneNumber": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "street1": {
                "type": "string"
              },
              "street2": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "stateOrProvince": {
                "type": "string"
              },
              "postCode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "nationality": {
            "type": "string"
          },
          "placeOfBirth": {
            "type": "string"
          },
          "countryOfBirth": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "IndividualUpdateRequest model schema (auto-generated from TypeScript interface)"
      },
      "IndividualUpdateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "individual": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "givenName": {
                "type": "string"
              },
              "familyName": {
                "type": "string"
              },
              "formattedName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phoneNumber": {
                "type": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "street1": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "stateOrProvince": {
                    "type": "string"
                  },
                  "postCode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                },
                "required": [
                  "street1",
                  "city",
                  "stateOrProvince",
                  "postCode",
                  "country"
                ],
                "additionalProperties": false
              },
              "status": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "givenName",
              "familyName",
              "formattedName",
              "email",
              "phoneNumber",
              "address",
              "status",
              "type",
              "updatedAt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "message",
          "individual"
        ],
        "additionalProperties": false,
        "description": "IndividualUpdateResponse model schema (auto-generated from TypeScript interface)"
      },
      "AmdocsIndividualUpdatePayload": {
        "type": "object",
        "properties": {
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "formattedName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string"
          },
          "placeOfBirth": {
            "type": "string"
          },
          "countryOfBirth": {
            "type": "string"
          },
          "contactMedium": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "@type": {
                  "type": "string"
                },
                "preferred": {
                  "type": "boolean"
                },
                "mediumType": {
                  "type": "string"
                },
                "characteristic": {
                  "type": "object",
                  "properties": {
                    "@type": {
                      "type": "string"
                    },
                    "emailAddress": {
                      "type": "string"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "contactType": {
                      "type": "string"
                    },
                    "street1": {
                      "type": "string"
                    },
                    "street2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "stateOrProvince": {
                      "type": "string"
                    },
                    "postCode": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "required": [
                "@type",
                "preferred",
                "mediumType",
                "characteristic"
              ],
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false,
        "description": "AmdocsIndividualUpdatePayload model schema (auto-generated from TypeScript interface)"
      },
      "SimSwapRequest": {
        "type": "object",
        "properties": {
          "msisdn": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "reasonCode": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "SimSwapRequest model schema (auto-generated from TypeScript interface)"
      },
      "SimSwapResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "orderId": {
            "type": "string"
          },
          "shoppingCartId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "orderId",
          "shoppingCartId",
          "status",
          "message",
          "timestamp"
        ],
        "additionalProperties": false,
        "description": "SimSwapResponse model schema (auto-generated from TypeScript interface)"
      },
      "SimSwapError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "description": "SimSwapError model schema (auto-generated from TypeScript interface)"
      },
      "SimProductCounts": {
        "type": "object",
        "properties": {
          "active": {
            "type": "number"
          },
          "terminated": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "swapedByCount": {
            "type": "number"
          }
        },
        "required": [
          "active",
          "terminated",
          "total",
          "swapedByCount"
        ],
        "additionalProperties": false,
        "description": "SimProductCounts model schema (auto-generated from TypeScript interface)"
      },
      "SimProductsResponse": {
        "type": "object",
        "properties": {
          "active": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "terminated": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "counts": {
            "$ref": "#/components/schemas/SimProductCounts"
          }
        },
        "required": [
          "active",
          "terminated",
          "counts"
        ],
        "additionalProperties": false,
        "description": "SimProductsResponse model schema (auto-generated from TypeScript interface)"
      },
      "ReplaceMsisdnRequest": {
        "type": "object",
        "properties": {
          "msisdn": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "reasonCode": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "ReplaceMsisdnRequest model schema (auto-generated from TypeScript interface)"
      },
      "ReplaceMsisdnResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "orderId": {
            "type": "string"
          },
          "shoppingCartId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "orderId",
          "shoppingCartId",
          "status",
          "message",
          "timestamp"
        ],
        "additionalProperties": false,
        "description": "ReplaceMsisdnResponse model schema (auto-generated from TypeScript interface)"
      },
      "ReplaceMsisdnError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "description": "ReplaceMsisdnError model schema (auto-generated from TypeScript interface)"
      },
      "TerminationReason": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "code",
          "title",
          "isActive"
        ],
        "additionalProperties": false,
        "description": "TerminationReason model schema (auto-generated from TypeScript interface)"
      },
      "TerminateRequest": {
        "type": "object",
        "properties": {
          "terminationReason": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reason": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "terminationReason",
          "reason"
        ],
        "additionalProperties": false,
        "description": "TerminateRequest model schema (auto-generated from TypeScript interface)"
      },
      "TerminateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "orderId": {
            "type": "string"
          },
          "terminatedProducts": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "terminatedAt": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TerminatedProduct"
            }
          }
        },
        "required": [
          "success",
          "orderId",
          "terminatedProducts",
          "message",
          "terminatedAt",
          "effectiveDate",
          "products"
        ],
        "additionalProperties": false,
        "description": "TerminateResponse model schema (auto-generated from TypeScript interface)"
      },
      "TerminatedProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "previousStatus": {
            "type": "string"
          },
          "newStatus": {
            "type": "string"
          },
          "realizingResource": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "value"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "name",
          "previousStatus",
          "newStatus"
        ],
        "additionalProperties": false,
        "description": "TerminatedProduct model schema (auto-generated from TypeScript interface)"
      },
      "EmailRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "templateName": {
            "type": "string"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "scheduledSendTime": {
            "type": "string"
          },
          "individualId": {
            "type": "string"
          }
        },
        "required": [
          "to",
          "subject",
          "content"
        ],
        "additionalProperties": false,
        "description": "EmailRequest model schema (auto-generated from TypeScript interface)"
      },
      "EmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "messageId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "scheduledSendTime": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "messageId",
          "message"
        ],
        "additionalProperties": false,
        "description": "EmailResponse model schema (auto-generated from TypeScript interface)"
      },
      "AmdocsEmailPayload": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "scheduledSendTime": {
            "type": "string"
          },
          "characteristic": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "valueType": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "value",
                "valueType"
              ],
              "additionalProperties": false
            }
          },
          "receiver": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "party": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "@referredType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "@referredType"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "name",
                "email",
                "party"
              ],
              "additionalProperties": false
            }
          },
          "sender": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "email"
            ],
            "additionalProperties": false
          },
          "subject": {
            "type": "string"
          },
          "messageType": {
            "type": "string"
          },
          "tryTimes": {
            "type": "number"
          }
        },
        "required": [
          "content",
          "receiver",
          "sender",
          "subject",
          "messageType",
          "tryTimes"
        ],
        "additionalProperties": false,
        "description": "AmdocsEmailPayload model schema (auto-generated from TypeScript interface)"
      },
      "EmailTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "parameters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "subject",
          "content",
          "parameters",
          "isActive"
        ],
        "additionalProperties": false,
        "description": "EmailTemplate model schema (auto-generated from TypeScript interface)"
      },
      "Refund": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          },
          "account": {
            "$ref": "#/components/schemas/AccountRef"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "authorizationCode": {
            "type": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelRef"
          },
          "correlatorId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentRef"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodRefOrValue"
          },
          "refundDate": {
            "type": "string",
            "format": "date"
          },
          "requestor": {
            "$ref": "#/components/schemas/RelatedParty"
          },
          "status": {
            "type": "string"
          },
          "statusDate": {
            "type": "string",
            "format": "date"
          },
          "taxAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "account",
          "description",
          "id",
          "name",
          "paymentMethod"
        ],
        "additionalProperties": false,
        "description": "Refund model schema (auto-generated from TypeScript interface)"
      },
      "ProductRelationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "relationshipType": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "relationshipType"
        ],
        "additionalProperties": false,
        "description": "ProductRelationship model schema (auto-generated from TypeScript interface)"
      },
      "RatingType": {
        "type": "string",
        "enum": [
          "prepaid",
          "payAtBill",
          "subscription"
        ],
        "description": "RatingType model schema (auto-generated from TypeScript interface)"
      },
      "Contact": {
        "type": "object",
        "properties": {
          "contactMedium": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactMedium"
            }
          },
          "contactName": {
            "type": "string"
          },
          "contactType": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Contact model schema (auto-generated from TypeScript interface)"
      },
      "ContactMedium": {
        "type": "object",
        "properties": {
          "mediumType": {
            "type": "string"
          },
          "preferred": {
            "type": "boolean"
          },
          "characteristic": {
            "type": "object",
            "properties": {
              "emailAddress": {
                "type": "string"
              },
              "phoneNumber": {
                "type": "string"
              },
              "@type": {
                "type": "string"
              }
            },
            "required": [
              "@type"
            ],
            "additionalProperties": false
          },
          "@type": {
            "type": "string"
          }
        },
        "required": [
          "mediumType",
          "preferred",
          "characteristic",
          "@type"
        ],
        "additionalProperties": false,
        "description": "ContactMedium model schema (auto-generated from TypeScript interface)"
      },
      "BillStructure": {
        "type": "object",
        "properties": {
          "presentationMedia": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillPresentationMedia"
            }
          }
        },
        "additionalProperties": false,
        "description": "BillStructure model schema (auto-generated from TypeScript interface)"
      },
      "BillPresentationMedia": {
        "type": "object",
        "properties": {
          "@referredType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "@referredType",
          "name"
        ],
        "additionalProperties": false,
        "description": "BillPresentationMedia model schema (auto-generated from TypeScript interface)"
      },
      "TaxItem": {
        "type": "object",
        "properties": {
          "taxRate": {
            "type": "number"
          },
          "taxAmount": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "taxRate",
          "taxAmount"
        ],
        "additionalProperties": false,
        "description": "TaxItem model schema (auto-generated from TypeScript interface)"
      },
      "ProductCategory": {
        "type": "string",
        "const": "Subscription Plans",
        "description": "ProductCategory model schema (auto-generated from TypeScript interface)"
      },
      "ProductStatus": {
        "type": "string",
        "enum": [
          "active",
          "inactive",
          "deprecated"
        ],
        "description": "ProductStatus model schema (auto-generated from TypeScript interface)"
      },
      "ProductSpec": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "unitOfMeasure": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "ProductSpec model schema (auto-generated from TypeScript interface)"
      },
      "ProductPrice": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "priceType": {
            "type": "string",
            "enum": [
              "oneTime",
              "recurring"
            ]
          },
          "recurringChargePeriodType": {
            "type": "string"
          },
          "recurringChargePeriodLength": {
            "type": "number"
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "additionalProperties": false,
        "description": "ProductPrice model schema (auto-generated from TypeScript interface)"
      },
      "ProductOfferingRelationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "relationshipType": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "relationshipType"
        ],
        "additionalProperties": false,
        "description": "ProductOfferingRelationship model schema (auto-generated from TypeScript interface)"
      },
      "PaymentIntentRedirects": {
        "type": "object",
        "properties": {
          "success": {
            "type": "string"
          },
          "cancel": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "cancel"
        ],
        "additionalProperties": false,
        "description": "PaymentIntentRedirects model schema (auto-generated from TypeScript interface)"
      },
      "PriceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dutyFreeAmount": {
            "type": "number"
          },
          "taxAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "description",
          "dutyFreeAmount",
          "taxAmount",
          "currency"
        ],
        "additionalProperties": false,
        "description": "PriceItem model schema (auto-generated from TypeScript interface)"
      },
      "Individual": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "individualIdentification": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndividualIdentification"
            }
          }
        },
        "required": [
          "id",
          "givenName",
          "familyName",
          "individualIdentification"
        ],
        "additionalProperties": false,
        "description": "Individual model schema (auto-generated from TypeScript interface)"
      },
      "IndividualIdentification": {
        "type": "object",
        "properties": {
          "identificationId": {
            "type": "string"
          },
          "identificationType": {
            "type": "string"
          }
        },
        "required": [
          "identificationId",
          "identificationType"
        ],
        "additionalProperties": false,
        "description": "IndividualIdentification model schema (auto-generated from TypeScript interface)"
      },
      "ProcessorCharacteristics": {
        "type": "object",
        "properties": {
          "paymentType": {
            "type": "string"
          }
        },
        "required": [
          "paymentType"
        ],
        "additionalProperties": false,
        "description": "ProcessorCharacteristics model schema (auto-generated from TypeScript interface)"
      },
      "PaymentMethodRelatedParty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "@referredType": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "@referredType"
        ],
        "additionalProperties": false,
        "description": "PaymentMethodRelatedParty model schema (auto-generated from TypeScript interface)"
      },
      "PaymentMethodAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "description": "PaymentMethodAccount model schema (auto-generated from TypeScript interface)"
      },
      "AccountRef": {
[...]
